.modal__windowChat {
    max-width: 380px;
    height: 379px;
    background: #ffffff;
    border: 1px solid #d0d5d8;
    margin: 20px 10px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    scroll-behavior: smooth;
}
