.bot-name {
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
}

.modal__forms-btn {
    background: #faa419;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    padding: 9px 14px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}

.modal__forms-btn:hover {
    background: #d88c11;
}

.modal__forms-text {
    width: 200px;
    background: transparent;
    border-radius: 4px;
    padding: 9px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.3);
    border: #a3a3a3 1px solid;
    color: #000;
    outline: none;
    transition: all 0.2s;
}

.btn__micro {
    border: none;
    background: #8c64d8;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    border: 2px solid #8c64d8;
}

.btn__micro:hover {
    background: #7e5ac2;
}

.form {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
}

.modal__forms-micro {
    padding: 4px 5px 0;
    box-sizing: content-box;
}
